cmake-build*
build*
__pycache__
python/ann-data*
python/results
python/scann
python/perf.data*
python/out.perf*
python/perf*
python/jeprof.*.heap
python/jeprof*exp
python/jeprof*backup
python/jeprof_debug*
python/jeheaps
python/saved_jeprof*
python/mem*pdf
python/*dataset.bin*
python/sample_dataset*.bin*
python/log.txt
python/hashed_dataset*.bin
python/*.log
python/
python-exp
html/
iotest

.idea
.vscode
.cache
.devcontainer
.env
